*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-color: #eee;
}
a{
    text-decoration: none;
    color: #AFAFAF;
}
ul,ol{
    list-style: none;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.top-nav{
    width: 100%;
    height: 36px;
}
.top-nav>div>ul{
    line-height: 36px;
    font-size: 12px;
    color: #AFAFAF;
    text-align: center;
}
.top-nav>div>ul:nth-child(1){
    float: left;
}
.top-nav>div>ul:nth-child(1)>li{
    position: relative;
    padding: 0 8px;
    height: 36px;
    float: left;
}
/* .top-nav>div>ul:nth-child(1)>li:last-child{
    padding-right: 25px;
}
.top-nav>div>ul:nth-child(2)>li:nth-child(4){
    padding-right: 25px;
} */
.top-nav>div>ul:nth-child(1)>li.list:hover ::after{
    background-position: -81px 0;
}
.list{
    padding-right: 25px !important;
}
.list:hover{
    color: black !important;
    background-color: white;
}
.list::after{
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background:url(https://res8.vmallres.com/20210316/css/../images/echannel/icon/icon-common.svg) no-repeat;
    background-position: -71px 0;
    position: absolute;
    top: 10px;
    left: 60px;
}
.top-nav>div>ul:nth-child(2){
    float: right;
}
.top-nav>div>ul:nth-child(2)>li{
    position: relative;
    padding: 0 8px;
    float: left;
}
.top-nav>div>ul>li:hover{
    user-select: none;
    color: black;
    cursor: pointer;
}
.list{
    position: relative;
    z-index: 1000;
}
.second_list_one{
    background-color: white;
    width: 120px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left:-40px;
    color: black;
    box-shadow: 0 2px 26px rgb(0 0 0 / 15%);
    height: 120px;
    display: none;
}
.second_list_two{
    background-color: white;
    width: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left:0;
    color: black;
    box-shadow: 0 2px 26px rgb(0 0 0 / 15%);
    height: 60px;
    display: none;
}
.second_list_one>li,.second_list_two>li{
    height: 30px;
    line-height: 30px;
}
.top_logo{
    margin-bottom: 30px;
    background-color: white;
}
.top_logo>div{
    height: 70px;
    line-height: 70px;
}
.top_logo>div>img{
    height: 36px;
    margin-right: 15px;
    width: 120px;
    float: left;
    margin-top: 15px;
}
.top_banner{
    display: none;
}
.top_banner>div{
    position: relative;
    color: #CA141D;
    padding-left: 40px;
    font-size: 12px;
    line-height: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(255, 255, 166);
    border: 1px solid red;
    box-sizing: border-box;
}
.top_banner>div>a{
    position: absolute;
    line-height: 30px;
    text-align: center;
    top: 10px;
    left: 350px;
    display: inline-block;
    height: 30px;
    width: 70px;
    background-color: #CA141D;
    color: white;
}
.cart{
    display: none;
}
.cart>div{
    margin-top: 10px;
    min-height: 350px;
    background-color: white;
    padding-top: 150px;
    text-align: center;
}
.cart>div>img{
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}
.cart>div>a{
    line-height: 46px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    display: block;
    height: 46px;
    width: 70px;
    background-color: #CA141D;
    color: white;
}
.cart_top>div{
    height: 40px;
    background-color: white;
    margin-top: 10px;
}
.cart_top>div>ul>li{
    color: #A4A4A4;
    font-size: 12px;
    height: 40px;
    list-style: none;
    float: left;
    line-height: 40px;
}
.cart_top>div>ul>li:nth-child(1){
    margin-left: 40px;
    width: 150px;
}
.cart_top>div>ul>li:nth-child(1)>label>input{
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.cart_top>div>ul>li:nth-child(1)>label{
    cursor: pointer;
}
.cart_top>div>ul>li:nth-child(2){
    width: 450px;
}
.cart_top>div>ul>li:nth-child(3){
    width: 100px;
    margin-left: 40px;
}
.cart_top>div>ul>li:nth-child(4){
    width: 100px;
    margin-left: 40px;
}
.cart_top>div>ul>li:nth-child(5){
    width: 100px;
    margin-left: 40px;
}
.cart_top>div>ul>li:nth-child(6){
    width: 100px;
    margin-left: 40px;
}
.clear_love{
    margin-top: 40px;
    height: 82px;
    background-color: #eee;
}
.clear_love>div{
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    height: 82px;
}
.clear_love>div>ul{
    width: 100%;
    height: 100%;
}
.clear_love>div>ul>li{
    text-align: center;
    float: left;
    width: 25%;
    list-style: none;
    line-height: 82px;
}
.clear_love>div>ul>li>i{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(https://res8.vmallres.com/20210316/images/echannel/icon/icon01.svg) no-repeat;
}
.clear_love>div>ul>li:nth-child(1)>i{
    background-position: -74px 0;
}
.clear_love>div>ul>li:nth-child(2)>i{
    background-position: -154px 0;
}
.clear_love>div>ul>li:nth-child(3)>i{
    background-position: -194px 0;
}
.clear_love>div>ul>li:nth-child(4)>i{
    background-position: -114px 0;
}
.footer_list{
    height: 211px;
    background-color: #eee;
}
.footer_list>div{
    position: relative;
    padding:20px 0;
    height: 211px;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}
.footer_list>div>h1{
    position: absolute;
    top: 10px;
    left:1000px;
}
.footer_list>div>p:nth-child(3){
    color: gray;
    position: absolute;
    top: 50px;
    left:950px;
}
.footer_list>div>ul>li{
    padding-left: 40px;
    height: 160px;
    width: 110px;
    font-size: 12px;
    float: left;
    color: gray;
}
.footer_list>div>ul>li>ul>li{
    height: 25px;
}
.footer_list>div>ul>li>ul>li:first-child{
    font-size: 14px;
    color: black;
}
.footer_list>div>ul:nth-child(1){
    height: 165px;
    width: 921px;
    border-right: 1px solid gray;
}
.footer_list>div>button:nth-child(4){
    position: absolute;
    top: 90px;
    right: 45px;
    height: 34px;
    width: 190px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 34px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.footer_list>div>button:nth-child(4):hover{
    background-color: gray;
}
.footer{
    height: 109px;
    background-color: #eee;
    padding: 25px 0px;
}
.footer>div{
    position: relative;
}
.footer>div>img{
    margin-right: 20px;
    height: 24px;
    width: 82px;
}
.footer>div>ul{
    position: absolute;
    top: 30px;
    left: 300px;
    list-style: none;
    font-size: 12px;
    color: gray;
}
.footer>div>ul>li{
    float: left;
    margin: 0 3px;
}
.footer>div>ul>li:nth-child(odd):hover{
    color: #CA141D;
}
.footer>div>ul>li:nth-child(even){
    color: rgb(207, 204, 204);
}
.footer>div>p{
    position: absolute;
    color: rgb(207, 204, 204);
    font-size: 12px;
}
.footer>div>p:nth-child(3){
    top: 55px;
    left: 305px;
}
.footer>div>p:nth-child(4){
    top: 70px;
    left: 305px;
}
.footer>div>img:nth-child(5){
    float: right;
    margin: 0;
}
.goods_box>div{
    overflow: hidden;
    margin-top: 10px;
    background-color: white;
}
.goods_box>div>ul{
    overflow: hidden;
}
.goods_box>div>ul>li{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    float: none;
}
.goods_box>div>ul>li>ol{
    overflow: hidden;
}
.goods_box>div>ul>li>ol>li{
    float: left;
}
.goods_box>div>ul>li>ol>li:nth-child(2) img{
    height: 100px;
    width: 100px;
}
.goods_box>div>ul>li>ol>li:nth-child(1) input{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 15px;
}
.goods_box>div>ul>li>ol>li:nth-child(3){
    width: 350px;
    margin-left: 20px;
    padding-top: 30px;
}
.goods_box>div>ul>li>ol>li:nth-child(3) p:nth-child(2){
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}
.goods_box>div>ul>li>ol>li:nth-child(4){
    color: #CA141D;
    margin-left: 125px;
    padding-top: 30px;
}
.goods_box>div>ul>li>ol>li:nth-child(5){
    width: 100px;
    padding-top: 30px;
    position: relative;
    margin-left: 105px;
}
.goods_box>div>ul>li>ol>li:nth-child(5) input{
    padding-left: 15px;
    width: 29px;
    height: 20px;
}
.goods_box>div>ul>li>ol>li:nth-child(5) div{
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    position: absolute;
    height: 22px;
    width: 20px;
    border: 1px solid black;
}
.goods_box>div>ul>li>ol>li:nth-child(5) .add_btn{
    top: 31px;
    left: -20px;
    border-right: none;
}
.goods_box>div>ul>li>ol>li:nth-child(5) .remove_btn{
    top: 31px;
    left: 47px;
    border-left: none;
}
.goods_box>div>ul>li>ol>li:nth-child(6){
    width: 80px;
    color: #CA141D;
    padding-top: 30px;
    margin-left: 35px;
}
.goods_box>div>ul>li>ol>li:nth-child(7){
    padding-top: 30px;
    margin-left: 70px;
}
.goods_box>div>ul>li>ol>li.gods_price_odd{
    width: 45px;
}
.del{
    cursor: pointer;
}
.goods_price>div{
    position: relative;
    font-size: 12px;
    line-height: 50px;
    background-color: white;
    height: 50px;
    margin-top: 10px;
}
.goods_price>div>label{
    cursor: pointer;
}
.goods_price>div>label>input{
    position: relative;
    top: 1px;
    margin-right: 5px;
    margin-left: 40px;
}
.goods_price>div>p.rm_all{
    position: absolute;
    top: 0;
    left: 110px;
    cursor: pointer;
}
.goods_price>div>p:nth-child(3) span{
    color: #CA141D;
    font-size: 14px;
    font-weight: bold;
}
.goods_price>div>p:nth-child(4) span{
    display: inline-block;
    padding: 0 5px;
    color: #CA141D;
    font-size: 14px;
    font-weight: bold;
}
.price_num{
    cursor: pointer;
    height: 50px;
    width: 180px;
    background-color: #CA141D;
    text-align: center;
    line-height: 50px;
    float: right;
    font-size: 16px;
    color: white;
}
.goods_price>div>p{
    display: inline-block;
    position: absolute;
}
.goods_price>div>p:nth-child(3){
    top: -10px;
    left: 820px;
}
.goods_price>div>p:nth-child(4){
    top: 15px;
    left: 820px;
}
.fixed_list2{
    width: 80px;
    background-color: white;
    position: fixed;
    top: 400px;
    right: 0;
    border-radius: 10px;
}
.fixed_list2 div{
    padding-top: 50px;
    width: 80px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    color: gray;
    position: relative;
    overflow: hidden;
}
.fixed_list2>div:hover{
    cursor: pointer;
    color: red;
}
.fixed_list2>div::after{
    position: absolute;
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    top: 5px;
    left: 20px;
    background-image: url(https://res8.vmallres.com/20210316/images/echannel/icon/icon-common.svg);
}
.fixed_list2>div:nth-child(1):after{
    background-position: 0 -32px;
}
.fixed_list2>div:nth-child(2):after{
    background-position: -40px -32px;
}
.fixed_list2>div:nth-child(3):after{
    background-position: -80px -32px;
}
.fixed_list2>div:nth-child(4):after{
    background-position: -120px -32px;
}
#last_top{
    display: none;
}